.main-card{
    background-color: #121212;
    padding: 20px 15px;
    border-radius: 2%;
    width: 210px;
    @media screen and (max-width: 400px) {
        width: 140px !important;
        padding: 0;
    }
    @media screen and (max-width: 800px) {
        width: 160px;
        padding: 0;
    }

}
.main-card:hover{
    background-color: #282828;
}

.music-card{
    border-radius: 10px;
    background-color: #121212 !important;
    box-shadow: none !important;
}
.music-card:hover{
    background-color: #282828 !important;
}
.music-title{
    color: white;
    font-weight: 600 !important;
    font-size: 18px !important;
    @media screen and (max-width: 800px) {
        font-weight: 400 !important;
        font-size: 13px !important;
        display: inline;
        color: rgb(218, 218, 218);
    }
}
@media screen and (max-width: 800px) {
    .artist{
        font-size: 11px !important;
    }
}